<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="QLCHMTNguyenHoang.Properties.Settings.ChuoiKetNoi"
            connectionString="Data Source=whoanhminh\sqlexpress;Initial Catalog=QLCHMTNguyenHoang;Integrated Security=True" />
        <add name="QLCHMTNguyenHoang.Properties.Settings.ChuoiKetNoiDangNhap"
            connectionString="Data Source=whoanhminh\sqlexpress;Initial Catalog=abc;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2"/>
    </startup>
</configuration>
